<div class="upload-recipe-container">
  <div class="upload-recipe-form">
    <h2 >העלאת מתכון</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="recipeTitle">שם המתכון:</label>
        <div>
          <input class="input-field" type="text" formControlName="name" [ngModel]="recipe.name"/>
          <p *ngIf="recipeForm.controls['name'].errors" class="error-text">שם היינו שדה חובה</p>
        </div>
      </div>
      <div class="form-group">
        <label for="recipeDescription">תיאור המתכון:</label>
        <input type="text" formControlName="description" class="input-field" [ngModel]="recipe.description"/>
      </div>
      <div class="form-group">
        <label >קטגוריות:</label>
        <select id="category" [(ngModel)]="category" formControlName="category" class="input-field" multiple >
          <!-- [selected]="c._id==recipe.category"  -->
          <option *ngFor="let c of categories" [value]="c.description" [id]="c.description"  class="selected-category">{{c.description}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="preparationTime">(בדקות) משך ההכנה:</label>
        <input class="input-field" type="number" formControlName="preparationTime" [ngModel]="recipe.preparationTime"/>
        <p *ngIf="recipeForm.controls['preparationTime'].getError('required')" class="error-text">זמן הכנה היינו שדה חובה</p>
        <p *ngIf="recipeForm.controls['preparationTime'].value < 0" class="error-text">זמן הכנה צריך ליהיות גדול יותר</p>
      </div>
      <div class="form-group">
        <label for="DifficultyLevel">דרגת קושי:</label>
        <input class="input-field" type="number" formControlName="DifficultyLevel" [ngModel]="recipe.DifficultyLevel"/>
        <p *ngIf="recipeForm.controls['DifficultyLevel'].value > 5 || recipeForm.controls['DifficultyLevel'].value < 1" class="error-text">רמת הקושי היא בין 1 ל 5</p>
      </div>
      <div class="form-group">
        <label>הוראות הכנה:</label>
        <textarea class="form-control" formControlName="instructions" rows="5" required [ngModel]="recipe.instructions"></textarea>
        <p *ngIf="recipeForm.controls['instructions'].errors" class="error-text">שדה חובה</p>
      </div>
      <div class="form-group">
        <label>שכבות:</label>
        <div formArrayName="layers" class="layers-container">
            <div *ngFor="let layer of layers.controls; let i = index" [formGroupName]="i" class="layer-item">
              <h4>Layer {{ i + 1 }}</h4>
              <label for="description">תיאור השכבה</label>
              <input type="text" formControlName="description" class="input-field"/>
              
              <label for="products">רשימת מוצרים לשכבה</label>
              <textarea class="form-control" formControlName="products" rows="5" required></textarea>
              <hr>
          </div>
          <button type="button" class="btn btn-secondary" (click)="addLayer()">הוסף שכבה</button>
        </div>
      </div>
      <div class="form-group">
        <label>פרטי?</label>
        <input type="checkbox" [ngModel]="recipe.IsPrivate??false" formControlName="IsPrivate" />
      </div>
      <div class="form-group">        
        <img *ngIf="previewUrl" [src]="previewUrl" alt="Selected Image">
      {{previewUrl}}
        <label for="recipeImage">תמונות:</label>
        <!-- [ngModel]="recipe.images" -->
        <input type="file" [ngModel]="recipe.images"  class="form-control-file" (change)="onFileSelected($event)" id="images" formControlName="images" multiple >
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="recipeForm.invalid">אישור</button>
      <div *ngIf="successfull" class="successfull">!המתכון התווסף בהצלחה</div>
      <!-- <div *ngIf="!successfull && usersService.isTokenExpired class="successfull">פג תוקף</div> -->
    </form>
  </div>
</div>

  <!-- <button (click)="add()">add new</button> -->



