<div class="recipe-page">
<div class="search-box">
  <input type="text"  placeholder=" חפש לפי שם מתכון..." [(ngModel)]="searchByName"/>
  <img src="https://www.flaticon.com/free-icon-font/search_3917132" alt="" />
</div>
<img src="../../../asset/search.png" alt="" />

<i class="fi fi-rr-settings-sliders"></i>
<div  style="width: 30vw">
  <app-filter-recipes *ngIf="moreFilter"></app-filter-recipes>
  <button (click)="this.moreFilter = !this.moreFilter">
    <img src="" alt="" />
  </button>
</div>
<div class="recipes">
  @for (r of recipies | search : 'recipies' : recipies : "value" : searchByName ; track r._id) {
  <app-recipe class="cardRecipe" [recipe]="r"></app-recipe>
  }
</div>
<button class="rounded-button" (click)="movePage(-1)"><</button>
<button class="rounded-button" (click)="movePage(1)">></button>
</div>