$primary-color: #cdc1a0;
$secondary-color: #2c3e50;
$text-color: #333333;
$background-color: #f4f4f4;
$white-color: #ffffff;

.recipe-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // display: grid;
  // grid-template-columns: auto auto auto;
  // gap: 1.5rem;
  padding: 2rem;
  background-color: $background-color;

  .recipe-card {
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 3%;
    .recipe-photo {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .recipe-content {
      padding: 1rem;

      .recipe-name {
        font-size: 1.5rem;
        color: $primary-color;
        margin: 0;
      }

      .recipe-description {
        font-size: 1rem;
        color: $text-color;
        margin-top: 0.5rem;
      }
    }
  }
}
