<div class="recipe-page">
<div class="search-box">
  <input type="text"  placeholder=" חפש לפי שם מתכון..." (input)="search(searchByName)" [(ngModel)]="searchByName"/>
  <input type="number"  placeholder="זמן מקסימאלי"  [(ngModel)]="TimePreper"/>
  <select style="width: 80px;"  placeholder=" קטגוריה" (change)="searchByCaegory($event.target)" [(ngModel)]="selectCategories">
    <option *ngFor="let category of categories" [value]="category.description">{{category.description}}</option>
  </select>
<button (click)="searchby()">סנן</button>
<button (click)="unsearch()">הסר סינון</button>

</div>

<div class="recipes">
  @for (r of filteredRecipes  ; track r._id) {
  <app-recipe class="cardRecipe" [recipe]="r"></app-recipe>
  }
</div>
<button class="rounded-button" (click)="movePage(-1)"><</button>
<button class="rounded-button" (click)="movePage(1)">></button>
</div>