<div class="recipe-page">
<div class="search-box" *ngIf="publicRecipes && isFilter ">
  <input class="input-serch" type="text"  placeholder=" חפש לפי שם מתכון..."  (input)="search(searchName)" [(ngModel)]="searchName"/>
  <input class="input-serch" type="number"  placeholder="זמן מקסימאלי" (change)="this.indexPage=1;" [(ngModel)]="TimePreper"/>
  <select class="input-serch" style="width: 80px;"  placeholder=" קטגוריה" (change)="searchByCaegory($event.target)" [(ngModel)]="selectCategories">
    <option *ngFor="let category of categories" [value]="category.description">{{category.description}}</option>
  </select>
<button (click)="unsearch()" *ngIf="isFilter">הסר סינון</button>

</div>
<button (click)="searchby()" *ngIf="!isFilter && publicRecipes">סנן</button>


<div class="recipes">
  @for (r of filteredRecipes | filterRecipes:TimePreper:selectCategories:indexPage ; track r._id) {
  <app-recipe class="cardRecipe" [recipe]="r" [typeRecipe]="publicRecipes?true:false"></app-recipe>
  }
</div>
<button *ngIf="publicRecipes" class="rounded-button" (click)="movePage(-1)"><</button>
<button *ngIf="publicRecipes" class="rounded-button" (click)="movePage(1)">></button>
</div>