<div class="grid-container-rows">
  <div ></div>
  <div class="grid-item">
    <!-- name -->
    <p></p>
    <!-- DifficultyLevel -->
    <span></span>
      <!-- description -->
    <p></p>
      <!-- images -->
  <img src="../../shared/1.jpg" alt="tt" />
  </div>
  <div class="grid-item grid-container-columns ">
    <div class="">
      <p>:אופן ההכנה</p>
      @for (i of instructions; track $index) {
        <p>{{$index}}.</p>
        <p>{{i}}</p>
      }
    </div>
    <div class="">
        <!-- preparationTime -->
        <p></p>
        <!-- category -->
        <p></p>
      <p class="products-div">:רכיבים</p>

      <i data-lucide="cooking-pot"></i>
      @for (l of this.recipe.layers; track l) {
        <!-- <lucide-icon name="cooking-pot"></lucide-icon> -->
        <i data-lucide="cooking-pot"></i>
        <h4>{{l.description}}</h4>
        <!-- <p *ngFor="let p of l.products; track $index">{{p.products[$index]}}</p> -->
      }
    </div>
  </div>
</div>
<button (click)="productsFunction()">products</button>
<button (click)="instructionsFunction()">instructions</button>
<!-- 
Addeddate

IsPrivate

 -->
