<div class="grid-container-rows">
  <div ></div>
  <div class="grid-item">
    <!-- name -->
    <p>{{recipe.name}}</p>
    <!-- DifficultyLevel -->
    <p>{{recipe.DifficultyLevel | starsDifficultyLevel  }}</p>
    <!-- <ng-template *ngFor="let item of numbers"><span>{{item}}</span></ng-template> -->
    <!-- description -->
    <p>{{recipe.description}}</p>
      <!-- images -->
  <img src="../../shared/1.jpg" alt="tt" />
  </div>
  <div class="grid-item grid-container-columns ">
    <div class="">
      <p>:אופן ההכנה</p>
      @for (i of instructions; track $index) {
        <p> {{i}} .{{$index}}</p>
      }
    </div>
    <div class="">
        <!-- preparationTime -->
        <span>preparationTime: </span>
        <span>{{recipe.preparationTime | timeFormat}} </span>
        <!-- category -->
        <span> category: </span>
        @for (category of recipe.category; track $index) {
        <span >{{category}}</span>
        <!-- *ngIf="recipe.category.length-1  !== $index" -->
        <span >, </span>
        }
      <p class="products-div">:רכיבים</p>
      <i data-lucide="cooking-pot"></i>
      @for (l of this.recipe.layers; track $index) {
        <!-- <lucide-icon name="cooking-pot"></lucide-icon> -->
        <i data-lucide="cooking-pot"></i>
        <h4>{{l.description}}</h4>
        @for (pr of products[$index]; track $index) {
            <p >{{pr}} -</p>}
        }
    </div>
  </div>
</div>

<!-- <button (click)="j()">products</button>
<button (click)="p()">products</button> -->

<!-- 

Addeddate

IsPrivate

 -->
