.grid-container-rows {
    display: grid;
    grid-template-rows: auto auto;
    background-color: #f4f4f4;
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;

  }
  .grid-container-columns {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f4f4f4;
  }
  .products-div {
    border-left: 2px solid ; 
}
.instructions{
  text-align: right;
  margin-right: 5vw;
}
