.recipe-card {
    background-color: chartreuse;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    
     .recipe-content {
        height: 4vh;
        width: 5vw;
       padding: 2%;
       padding: 1rem;
       margin: 2%;
       background-color: green;

       .recipe-name {
         font-size: 1.5rem;
         color: pink;
         margin: 0;
       }
     }
   }
