<!-- <app-login></app-login>
<app-register></app-register> -->

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">

    <button *ngIf="this.userService.correctUser" routerLink="logOut" (click)="logOut()">logout</button>
</div>
    <a routerLink="">  <img src="../../../../public/search.png" alt="">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="logIn">logIn</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="signUp">signUp</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="recipes">recipes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="categories">categories</a></li>
        @if (userService.token) {
            <li class="nav-item"><a class="nav-link" routerLink="addRecipe">addRecipe</a></li>
        }
        @if (userService.correctUser?.role==="admin") {
            <li class="nav-item"><a class="nav-link" routerLink="AllUsers">AllUsers</a></li>
        }
    </ul>
</div>
</nav>
<router-outlet></router-outlet>
<!-- <app-recipe-form></app-recipe-form> -->
