
<nav class="navbar" >
    <div class="navbar-container">
        <div class="navbar-brand">
    <!-- <button *ngIf="!userService.isTokenExpired()" routerLink="logOut" (click)="logOut()">logout</button> -->
</div>
    <div class="circle" *ngIf="userService.user" [title]="userService.user?.name"><p>{{userService.user?.name?.slice(0,1) }}</p></div>
    <div class="circle" *ngIf="!userService.user" style="font-size: 10px;" ><h4>אורח</h4></div>
    <a  routerLink="" class="no-underline"><img src="צילום_מסך_2024-06-19_204906-removebg-preview.png" alt="" width="190px" ></a>

    <ul class="navbar-nav">
        <!-- !userService.isTokenExpired()  && -->
        <li class="nav-item" *ngIf=" userService.user"><a class="nav-link" (click)="logOut()">התנתקות</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="logIn">התחברות</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="signUp">הרשמה</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="publicRecipes">כל המתכונים</a></li>
        <li class="nav-item" *ngIf=" userService.user"><a class="nav-link" routerLink="privateRecipes"> המתכונים שלי</a></li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink="categories">categories</a></li> -->
        <li class="nav-item" *ngIf="userService.user"><a class="nav-link" routerLink="addRecipe">הוספת מתכון</a></li>
        <li class="nav-item" *ngIf="userService.correctUser?.role=='admin'"><a class="nav-link" routerLink="AllUsers">כל המשתמשים</a></li>
    </ul>
</div>
</nav>

<router-outlet></router-outlet>


<!-- <app-recipe-form></app-recipe-form> -->
