/* You can add global styles to this file, and also import other style files */
button{
    background-color: #b584be;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px;
}
body{
    background-color: #f4f4f4;
}